<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Arras</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="mainLinks">
        <div id="aboutButton" class="nav" ><img class="images" src="./Images/about.png" alt="About"></div>
        <div id="codeButton"class="nav"><img class="images" src="./Images/code.png" alt="Code"></div>
        <div id="etcButton" class="nav"><img class="images" src="./Images/etc.png" alt="Etc"></div>
        <div id="gameButton" class="nav"><img class="images" src="./Images/play.png" alt="Play"></div>        
        <div id="scoreButton" class="nav"><img class="images" src="./Images/scores.png" alt="Scores"></div>
        <div id="simplemodal" class="modal">
            <div class="modal-content">

                <form id="scoreForm" method="get">
                    <label for="name">Great Game! Enter your initials:</label>
                    <input id="name" type="text" name="name" maxlength="3" required>
                    <button id="scoreSubmitButton">Submit</button>
                </form>
            </div>
       </div>
       <div class="modal" id="gameOver">
            <div class="modal-content">Game Over: Refresh Window to Play Again!</div>
       </div>

      
    </div>
       
    <div class="gameScreen">
        <div class="scoreInfo">
            <div id="scoreText" class="scoreInfo">Score:</div>
            <div id="scoreNumber" class="scoreInfo">0</div>
            <div id="topScoreText" class="scoreInfo">Top Score:</div>
            <div id="topScoreNum" class="scoreInfo">0</div>
        </div>
       
        <canvas id="game" class="canvas"></canvas> 
        <div id="slider"></div>
        <div id="about" class="content"><p id="sectionText"> 
            <div id="sectionTitle"><h1>About Me:</h1></div>
            <p class="sectionText">My first exposure to computers was through video games, so that's why a Space Invaders clone is front and center on my personal website.  
                Every generation can identify at least one technological advance that changed everything for them, 
                and for me it was being able to pop a cartridge into the Atari and be transported into 8-bit bliss.</p>
             <p class="sectionText" >I haven't stopped exploring digital and non-digital worlds, 
                and I've passionately followed my curiosity wherever it has guided me.  
                I earned a Bachelor of Fine Arts degree in 2007 where I studied drawing, painting, and woodworking. 
                After working as a solo furniture designer and builder for over a decade, I started a 
                Bachelor of Computer Science degree, which I finished in 2022.  I came away from that experience with a deeper understanding of all things computer-related, 
                awed and humbled by the enormity of the challenges and opportunities posed by computer science. </p>
            <p class="sectionText" >As a visual artist with a computer science degree, web development fits my interests and talents perfectly.  
                Over time I've come to see that "web developer" is an inadequate description for what this role can encompass.  
                For some, it means making websites that look and function like whatever the industry standard is at that time.  
                For others, it means redefining the entire notion of what it means to engage with the Internet.  
                I find myself looking critically at the established norms of web development, with an eye for ways that user 
                experiences can become more enthralling, immersive, and productive.</p>
            </p>
            
            <p class="sectionText">Email:  mikearras@gmail.com</p>
        
        </div>
        <div id="code"  class="content"><p id="codeText">
            <div id = "sectionTitle"><h1>Code:</h1></div>
            <p class="sectionText">I coded this website in vanilla JavaScript, and I used the Canvas API to render the sprite animations for the game.  
                My goal for functionality was for the top scores to be saved globally for all to see.  
                The back-end uses Node.js to handle server interactions like retrieving the top scores; 
                 the scores are persistent and are saved to an NeDB database.  
                Though the concept of the game isn't original, I created all of the sprites and animations using 
                the Pixaki app for iPad.  </p>
                <p class="sectionText">When I was in school at Oregon State I worked on several group projects.  
                    One of my favorite projects was an assignment in a class on databases, 
                    where my partner and I made a 
                    <a href="https://arras-bonaci-cs340.herokuapp.com/">web-based library administration program with CRUD functionality</a>.
                    This project exposed to me the fundamental aspects of cloud computing, and it was truly 
                    fascinating to build all the layers necessary for our app to take shape.  
                </p>
                <p class="sectionText">Another team project I worked on was part of a course on software engineering.  Our team of three 
                    were given the assignment of re-creating a 
                    <a href="https://github.com/mikearras/AR_Asteroids">classic video game in AR</a>, so we picked Asteroids.  
                    We built the game in Unity 3D in C#, and we used git for version control.  My responsibilities 
                    included programming the asteroid behavior, game UI, asset creation in Blender 3D.  
                    Though this game isn't currently on the Apple App Store, we consider it a success because it's so 
                    immersive and fun to play.  </p>
                
                <p class="sectionText">Please visit <a href="https://github.com/mikearras">
                    my personal Github page</a> to see more of my work.</p>
            <p class="sectionText"></p>
        </p></div>

        <div class="scores" ><p id="topScoreTitle">Top Scores</p> 
            <table>
                <%for(let d of data){  %> 
                    <tr>          
                       <td><%= d.name %></td>
                       <td id="comScore"><%= d.combinedScore %></td>
                    </tr>
                <%}%>  
    
            </table>       

        </div>
                             
              
    </div>   
    
   
        <script type="module" src="./script.js"></script>
</body>
</html>