<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isaac is Still Cool</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="mainLinks">
        <div id="aboutButton" class="nav" ><img class="images" src="./Images/about.png" alt=""></div>
        <div id="codeButton"class="nav"><img class="images" src="./Images/code.png" alt=""></div>
        <div id="etcButton" class="nav"><img class="images" src="./Images/etc.png" alt=""></div>
        <div id="gameButton" class="nav"></div>        
        <div id="scoreButton" class="nav"><img class="images" src="./Images/scores.png" alt=""></div>
        <div id="simplemodal" class="modal">
            <div class="modal-content">
                <!-- <span class="closeBtn" id="closeBtn">&times;</span> -->
                <form id="scoreForm" method="get">
                    <label for="name">Great Game! Enter your initials:</label>
                    <input id="name" type="text" name="name" maxlength="3" required>
                    <button id="scoreSubmitButton">Submit</button>
                </form>
            </div>
       </div>
       <div class="modal" id="gameOver">
            <div class="modal-content">Game Over: Refresh Window to Play Again!</div>
       </div>

      
    </div>
       
    <div class="gameScreen">
        <div class="scoreInfo">
            <div id="scoreText" class="scoreInfo">Score:</div>
            <div id="scoreNumber" class="scoreInfo">0</div>
            <div id="topScoreText" class="scoreInfo">Top Score:</div>
            <div id="topScoreNum" class="scoreInfo">0</div>
        </div>
       
        <canvas id="game" class="canvas"></canvas> 
        <div id="slider"></div>
        <div id="about" class="content"><p id="aboutText"> 
            <div id="aboutMeTitle"><h1>About Me:</h1></div>
            <p class="aboutText">My first exposure to computers was through video games, so that's why a Space Invaders clone is front and center on my personal website.  Every generation can identify at least one technological advance that changed everything for them, and for me it was being able to pop a cartridge into the Atari and be transported into 8-bit bliss.</p>
             <p class="aboutText" >I haven't stopped exploring digital and non-digital worlds, and I've passionately followed my curiosity wherever it has guided me.  I earned a Bachelor of Fine Arts degree in 2007 where I studied drawing, painting, and woodworking. After working as a solo furniture designer and builder for over a decade, I started a Bachelor of Computer Science degree, which I finished in 2022.  I came away from that experience with a deeper understanding of all things computer-related, awed and humbled by the enormity of the challenges and opportunities posed by computer science. </p>
            <p class="aboutText" >As a visual artist with a computer science degree, web development fits my interests and talents perfectly.  Over time I've come to see that "web developer" is an inadequate description for what this role can encompass.  For some, it means making websites that look and function like whatever the industry standard is at that time.  For others, it means redefining the entire notion of what it means to engage with the Internet.  I find myself looking critically at the established norms of web development, with an eye for ways that user experiences can become more enthralling, immersive, and productive.</p>
            </p></div>
        <div id="code"  class="content">Code Section</div>


        <div class="scores" ><p id="topScoreTitle">Top Scores</p> 
            <table>
                <%for(let d of data){  %> 
                    <tr>          
                       <td><%= d.name %></td>
                       <td id="comScore"><%= d.combinedScore %></td>
                    </tr>
                <%}%>  
    
            </table>       

        </div>
                             
              
    </div>   
    
   
        <script type="module" src="./script.js"></script>
</body>
</html>